@page "/restaurants/clientside"
@model ClientRestaurantsModel
@{ ViewData["Title"] = "Restaurants"; }

<h2>Restaurants client side</h2>

<table class="table table-striped table-bordered" style="width:100%" id="restaurants">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>
    </thead>
    
</table>

@section Scripts 
{
    <environment include="Development">
        <script type="text/javascript" src="~/node_modules/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css"/>
        <script type="text/javascript" src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
    </environment>

    <script>
        $(function() {

            var cuisines = ["Unknow", "Mexican", "Italian", "Indian"]

            $.ajax("/api/restaurants/", {method: "get"})
            .then(function(response) {
                $("#restaurants").dataTable({
                    "data": response,
                    "columns": [
                        {"data": "id"},
                        {"data": "name"},
                        {"data": "location"},
                        {
                            "data": "cuisine", 
                            "render": function(data) {
                                return cuisines[data];
                            }
                        }
                    ]
                })
            });
        });
    </script>
}